<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background-color: #efefef">
    <div th:insert="index :: navigationBar"></div>
    <div class="container-fluid" style="margin: 30px;background-color: white">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h3>
                <hr>
                <div class="media" th:each="question : ${pages.getQuestionDTOList()}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.getUser().getAvatarUrl()}"
                                 style="width: 40px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${question.getTitle()}"></h4>
                        <span style="color: #999999;size: 12px" th:text="${question.getDescription() + '·'}"></span>
                        <span style="color: #999999;size: 12px"
                              th:text="${#dates.format(question.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}"></span>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pages.getShowFirst()}">
                            <a th:href="@{/(page=1)}" aria-label="showFirst">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${pages.getShowOn()}">
                            <a th:href="@{/(page=${pages.page - 1})}" aria-label="showOn">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page1 : ${pages.pages}" th:class="${pages.page == page1} ? 'active' : ''">
                            <a th:href="@{/(page=${page1})}" th:text="${page1}"></a>
                        </li>
                        <li th:if="${pages.getShowNext()}">
                            <a th:href="@{/(page=${pages.page + 1})}" aria-label="showNext">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pages.getShowLast()}">
                            <a th:href="@{/(page=${pages.getTotalPage()})}" aria-label="showLast">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>热门话题</h3>
                问题发起指南问题发起指南问题发起指南 <br>
                问题发起指南问题发起指南 <br>
                问题发起指南
            </div>
        </div>
    </div>

</body>
</html>