<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Release question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background-color: #efefef">
    <div th:insert="index :: navigationBar"></div>
    <div class="container-fluid" style="margin: 30px;background-color: white">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h3>
                <hr>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">问题标题（简单扼要）：</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                               placeholder="问题标题">
                    </div>
                    <div class="form-group">
                        <label for="description">问题补充（必填，参照右侧说明）：</label>
                        <textarea class="form-control" name="description" id="description" cols="30" rows="10"
                                  th:text="${description}"
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签：</label>
                        <input type="tag" class="form-control" id="tag" name="tag" placeholder="输入标签，以逗号分隔"
                               th:value="${tag}">
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
                    <button type="submit" class="btn btn-success" style="float: right;margin-bottom: 15px">发布</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                问题发起指南问题发起指南问题发起指南 <br>
                问题发起指南问题发起指南 <br>
                问题发起指南
            </div>
        </div>
    </div>
</body>
</html>