<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.getTitle()}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background-color: #efefef">
    <div th:insert="index :: navigationBar"></div>
    <div class="container-fluid" style="margin: 30px;background-color: white">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${question.getTitle()}"></span></h3>
                <span class="text-desc" style="color: #999">
                    Author:<span th:text="${question.getUser().getName()}"></span> |
                    Release time:<span
                        th:text="${#dates.format(question.getCreateTime(),'yyyy-MM-dd HH:mm:ss')}"></span> |
                    Number of reads:<span th:text="${question.getViewCount()}"></span>
                </span>
                <hr>
                <div th:text="${question.getDescription()}"></div>
                <hr>
                <a th:href="@{'/publish/' + ${question.getId()}}" style="color: #999"
                   th:if="${session.user != null && session.user.getId() == question.getUser().getId()}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
                </a>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h4>Sponsor</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.getUser().getAvatarUrl()}"
                                 style="width: 40px">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading" style="margin-top: 12px">
                            <span th:text="${question.getUser().getName()}"></span>
                        </h5>
                    </div>
                </div>
                <hr>
                <h4>Related question</h4>
            </div>
        </div>
    </div>
</body>
</html>